body {
    margin: 0;
}

.main {
    background-image: url(content/image2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(13, 14, 13);
    height: 62.5vh;
    padding-bottom: 190px;
    position: relative;
}

nav {
    display: flex;
    gap: 35px;
    padding-left: 12rem;
}

.nav-navbar {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
}

.nav-navbar a {
    text-decoration: none;
    color: white;
}

.nav-a {
    display: flex;
    align-items: center;
}

.nav-a a {
    text-decoration: none;
    color: white;
    padding: 5px 30px;
    background-color: rgb(247, 20, 235);
    position: absolute;
    right: 100px;
}

.main-text h1 {
    color: white;
    font-size: 95px;
}

.main-text p {
    color: white;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    width: 95%;
    line-height: 35px;
    top: 400px;
}

.main-text {
    
    position: absolute;
    z-index: 1;
    width: 40%;
    margin-left: 190px;
}

.icon {
    position: absolute;
    bottom: 150px;
    left: 56%;
    z-index: 1;
}

.frame-on-top-1 {
    background-color: rgb(13, 14, 13);
    width: 160px;
    height: 350px;
    position: absolute;
    top: 40%;
    left: 46.3%;
}

.frame-on-top-2 {
    background-color: rgb(13, 14, 13);
    width: 160px;
    height: 195px;
    position: absolute;
    top: 64%;
    left: 46.3%;
}

.video-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgba(38, 38, 39);
    width: 50%;
    height: 20%;
    margin-top: 530px;
}

.video-block h1 {
    color: white;
}

.video-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: white;
}

.frame-on-top-3 {
    position: absolute;
    left: 50%;
    bottom: 2px;
    background-color: rgb(13, 14, 13);
    width: 50%;
    height: 8.5%;
}

/* Second-part  */


.second-part {
    display: flex;
    align-items: center;
    padding: 100px;
    background-color: rgba(38, 38, 39);
}

.second-first-text {
    position: relative;
    width: 40%;
    height: 40%;
    top: 30px;
}

.second-first-text p {
    color: white;
    font-size: 25px;
}

.second-second-text {
    position: absolute;
    left: 41%;
    margin-left: 400px;
    line-height: 5px;
    width: 10%;
    height: 5%;
}

.second-third-text {
    position: absolute;
    left: 75%;
    margin-left: 50px;
    line-height: 5px;
    width: 10%;
    height: 5%;
}

.second-fourth-text {
    position: absolute;
    left: 90%;
    line-height: 5px;
    width: 10%;
    height: 5%;
}

.second-second-text h1 {
    color: white;
    font-size: 45px;
}

.second-second-text p {
    color: white;
    font-size: 20px;
}
.second-third-text h1 {
    color: white;
    font-size: 45px;
}

.second-third-text p {
    color: white;
    font-size: 20px;
}
.second-fourth-text h1 {
    color: white;
    font-size: 45px;
}

.second-fourth-text p {
    color: white;
    font-size: 20px;
}



/* THIRD PAGEE */


.third-page {
    background-color: rgba(38, 38, 39);
    position: relative;
    padding-top: 110px;
}

.image-first-block {
    display: flex;
    gap: 130px;
}

.image-second-block {
    display: flex;
    margin-left: 40px;
    gap: 120px;
}

.first-image {
    width: 350px;
    height: 350px;
}

.second-image {
    width: 400px;
    height: 350px;
}

.third-image {
    width: 400px;
    height: 350px;
}

.fourth-image {
    width: 400px;
    height: 350px;
}

.fifth-image {
    width: 400px;
    height: 350px;
}

.sixth-image {
    width: 400px;
    height: 350px;
}


/* FOURTH PAGE */



.fourth-page {
    background-color: rgb(13, 13, 14);
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
}

.first-text { 
    color: white;
    text-align: center;
    font-size: 50px;
}

.fourth-first-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.first-block {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    background-color: rgba(38, 38, 39);
    border: 1px solid white;
}

.first-block h1 {
    font-size: 40px;
    color: white;
}

.first-block-p p {
    line-height: 25px;
    font-size: 15px;
    color: white;
}

.first-block-p {
    width: 90%;
}

.second-block {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    background-color: rgba(38, 38, 39);
    border: 1px solid white;
}

.second-block h1 {
    font-size: 35px;
    color: white;
}

.second-block-p p {
    line-height: 25px;
    font-size: 15px;
    color: white;
}

.second-block-p {
    width: 90%;
}

.third-block {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    background-color: rgba(38, 38, 39);
    border: 1px solid white;
}

.third-block h1 {
    font-size: 40px;
    color: white;
}

.third-block-p p {
    line-height: 25px;
    font-size: 15px;
    color: white;
}

.third-block-p {
    width: 90%;
}

.diaganal-line {
    position: absolute;
    width: 101px;
    height: 1px;
    background-color: white;
    top: 42px;
    right: 0;
    transform: skewY(40deg)
}

/* fifth-page */

.fifth-page {
    position: relative;
}

.coloumns {
    display: flex;
    gap: 70px;
}

.second-coloumn {
    position: absolute;
    top: 100px;
    right: 50px;
}

.trending-block {
    line-height: 15px;
    position: relative;
    padding-left: 30px;
    margin-top: 110px;
}

.trending-text {
    margin-top: 300px;
    line-height: 15px;
}

.trending-text h1 {
    color: white;
}

.trending-text p {
    color: white;
}

.big-text {
    width: 50%;
    position: absolute;
    top: 0;
    left: 30px;
}

.big-text h1 {
    color: white;
    font-size: 40px;
}

.big-text p {
    color: white;
}

.second-icon {
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.trending-block h1 {
    color: white;
}

.trending-block p {
    color: white;
}


span {
    color: rgb(212, 0, 179);
    float: right;
}

.frame-div {
    padding-left: 70px;
    margin-left: 1000px;
}

.view-block {
    width: 50%;
    padding: 40px;
    padding-bottom: 30px;
    background-color: rgba(38, 38, 39);
    text-align: center;
}

.view-block p {
    color: white;
    margin-right: 80px;
    margin-top: 0;
    font-size: 20px;
}

.view-text h1 {
    color: white;
    font-size: 70px;
}

.main-view {
    background-color: red;
    display: flex;
}

.view-text {
    background-color: rgb(13, 13, 14);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* sixth-page */


.sixth-page {
    background-color: rgba(38, 38, 39);
    display: flex;
    gap: 30px;
    padding-bottom: 400px;
    padding-left: 100px;
    padding-right: 80px;
}

.artist-block {
    margin-top: 150px;
    position: relative;
}

.artist {
    z-index: 1;
    position: absolute;
    top: 150px;
    left: 140px;
}

.name-artist {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 250px;
    left: 70px;
}

.name2-artist {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.following {
    position: absolute;
    top: 350px;
    left: 100px;
    background-color: rgb(212, 0, 179);
    width: 50%;
    height: 10%;
    padding-bottom: 25px;
    text-align: center;
}

.following h1 {
    color: white;
    font-size: 20px;
}



/* seventh-page */


.seventh-page {
    position: relative;
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: black;
    text-align: center;
}

.seventh-page h1 {
    color: white;
    font-size: 50px;
}

.seventh-page p {
    line-height: 30px;
    color: white;
    font-size: 20px;
    width: 50%;
    margin-left: 360px;
}

.seventh-block {
    margin-top: 50px;
    margin-left: 120px;
    padding: 60px;
    padding-top: 70px;
    width: 50%;
    background-color: rgba(38, 38, 39, 0.8);
    text-align: center;
    border: 3px solid rgba(229, 229, 229, 0.3)
}

.seventh-block img {
    width: 40%;
}

.icons-first-coloumn {
    width: 80%;
}

.icons-second-coloumn {
    width: 80%;
}

.icon-coloumns {
    display: flex;
    position: relative;
}

.seventh-main-block {
    position: absolute;
    left: 495px;
    padding: 60px;
    padding-top: 70px;
    width: 24%;
    border: 2px solid rgba(229, 229, 229, 0.3);
    top: 160px;
    background-color: rgba(196, 196, 196, 0.2);
    text-align: center;
}

.seventh-second-block {
    margin-top: 42px;
    margin-left: 120px;
    padding: 62px;
    width: 50%;
    background-color: rgba(38, 38, 39, 0.8);
    text-align: center;
    border: 3px solid rgba(229, 229, 229, 0.3)
}

.iconimg {
    position: absolute;
    top: 450px;
    left: 470px;
    z-index: 1;
}

.eight-page {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
    padding-top: 150px;
    line-height: 30px;  
    background-color: rgba(38, 38, 39);
    border-bottom: 5px solid rgb(247, 20, 235);
}

.eight-page p {
    width: 50%;
    margin-left: 300px;
}

.searching {
    position: relative;
    background-color: rgba(196, 196, 196, 0.1);
    width: 45%;
    margin-left: 300px;
    margin-top: 30px;
    padding: 25px;
    border: 2px solid rgba(229, 229, 229, 0.3);
}

.second-searching {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(212, 0, 179, 1);
    border: 2px solid rgba(212, 0, 179, 1);
    width: 20%;
    padding: 24px;
}

.nav-second {
    display: flex;
    gap: 35px;
}

.second-navbar {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
}

.second-navbar a {
    text-decoration: none;
    color: white;
}

.footer {
    position: relative;
    display: flex;
    border-bottom: 1px solid white;
    padding-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.footer-div {
    position: absolute;
    right: 0;
    display: flex;
    gap: 20px;
}

.footer-p {
    color: white;
    margin-top: 50px;
}

